In [ ]:
#Tuples

In [1]:
#Tuples
tup=4,5,6
tup

(4, 5, 6)

In [4]:
#checking the type
type(tup)

tuple

In [5]:
#creating nested tuple
nest_tup=(4,3,2),(2,3)
nest_tup

((4, 3, 2), (2, 3))

In [7]:
#invoking tuples
#converting list to tuple
ls=[1,2,3]
print(tuple(ls))
#converting String to tuple
st="manvi"
print(tuple(st))

(1, 2, 3)
('m', 'a', 'n', 'v', 'i')

In [26]:
#accessing the tuple elements using[]

tup=1,2,3,4
tup[2]

3

In [41]:
#tuple has two method: count and index:

#count the number of time an element occured in tuple

tup=(1,1,2,3,4,5,'a','b','a')
tup.count('a')

2

In [42]:
#check the index of an element 
#it gives the index at which element exit for the very first time.

tup=(1,1,2,3,4,5,'a','b','a')
tup.index(1)

0

In [21]:
#Tuples are immutable. However, if an object inside a tuple is mutable, such as a list, we can modify it in-place.

tup=(1,2,3,[11,22,33],4,5,6)
print(tup)

#append at index 3
tup[3].append("manvi")
print(tup)
tup[3].append(44)
print(tup)

(1, 2, 3, [11, 22, 33], 4, 5, 6)
(1, 2, 3, [11, 22, 33, 'manvi'], 4, 5, 6)
(1, 2, 3, [11, 22, 33, 'manvi', 44], 4, 5, 6)

In [30]:
# we can concatenate tuples using + opertor 

tup1 = (2,3,4,5)
tup2=('a','b','c')
tup3=('bar',) # notice the comma used inside the tuple.
final=tup1+tup2+tup3
final

(2, 3, 4, 5, 'a', 'b', 'c', 'bar')

In [31]:
#multiplying a tuple by an interger

tup=('foo','bar')*4
tup

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [32]:
#unpacking tuples
tup=(4,5,6)
a,b,c = tup
b

5

In [34]:
#sequence with nested tuples can also be unpacked

tup=4,5,(6,7)
a,b,(c,d)=tup
d

7

In [40]:
#length of tuple

len(tup)

3

In [38]:
#swaping the variables name

a,b=1,2
print(a)
print(b)

a,b=b,a # swaping the variables name

print(a)
print(b)

1
2
2
1

In [39]:
# we can use variable unpacking for iterating over sequences of tuples or lists. 
seq=[(1,2,3),(4,5,6),(7,8,9)]

for a,b,c in seq: 
    print('a={0},b={1},c={2}'.format(a,b,c))

a=1,b=2,c=3
a=4,b=5,c=6
a=7,b=8,c=9

In [46]:
#

values = 1,2,3,4,5

a,b,*rest = values

print(a,b)
print(rest)

1 2
[3, 4, 5]

In [ ]:
#List 
List are mutable.

In [48]:
a_list= [2,3,7,None]
tup=('foo','bar','baz')
b_list=list(tup)
b_list

['foo', 'bar', 'baz']

In [52]:
gen= range(10)
gen
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [61]:
#Adding and removing elements:

#adding value :

#creating a list 

gen= list(range(10))
print(gen)


#using append 
gen.append("Test")
print("append output:",gen)

#using insert 

gen.insert(4,"hello")
#speciality of insert function is that You can give location(index)
print("insert output:", gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
append output: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 'Test']
insert output: [0, 1, 2, 3, 'hello', 4, 5, 6, 7, 8, 9, 'Test']

In [65]:
#removing elements: 

#using pop function: 
#it remove and return an element at particular index

pop_out=gen.pop(4)
print(pop_out)

print(gen)

5
[0, 1, 2, 3, 6, 7, 8, 9, 'Test', 'hello']

In [69]:
#using remove function: 
# removes the first occurance of the element: 

ls= list(range(10))
print(ls)
ls.remove(9)
print(ls)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [70]:
#check if a value exist in a list

2 in ls

True

In [76]:
#concatenation in list

ls1=list(range(1,6))
print(ls1)
ls2=list(range(6,11))
print(ls2)

print("final_lsit: ",(ls1+ls2))

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
final_lsit:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [82]:
#we can use extend to concatenate multiple elements to a list. 

ls1=list(range(1,11))
print("ls1",ls1)


#extend

ls1.extend([11,12,13,14])

print("ls1 after extend: ",ls1)

ls1 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
ls1 after extend:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [ ]:
#speed 

everything =[]
for chunk in list_of_lists: 
    everything.extend(chuck)

#is faster than the concatenation method: 

everything=[]
for chuck in list_of_lists: 
    everything=everything+ chuck

In [86]:
#sort a list 
#sort function sort a list inplace.

a=[7,2,5,1,3]

a.sort()

a

[1, 2, 3, 5, 7]

In [98]:
#option available with sort

b=['ha','saw','a','man','coming','towards','him']

b.sort(key=len)

b

['a', 'ha', 'saw', 'man', 'him', 'coming', 'towards']

In [100]:
b.sort(reverse=1)
print(b)

['towards', 'saw', 'man', 'him', 'ha', 'coming', 'a']

In [112]:
#Binary search and maintaining sorted list

import bisect 

#the built in bisect module implements binary search and insertions into a sorted list.

#bisect.bisect finds the location where an element should be inserted to keep it sorted. 

#bisect.insort insert the element into that location. 


c=[1,1,2,3,4,6,8]
c

[1, 1, 2, 3, 4, 6, 7]

In [113]:
bisect.bisect(c,5)

5

In [115]:
bisect.bisect(c,7)

7

In [118]:
bisect.insort(c,8)

In [119]:
c

[1, 1, 2, 3, 4, 6, 7, 7, 8]

In [120]:
bisect.insort(c,5)

In [121]:
c

[1, 1, 2, 3, 4, 5, 6, 7, 7, 8]

In [125]:
#slicing

seq=list(range(1,11))
print(seq)

seq[1:5]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 3, 4, 5]

In [127]:
seq[:5]

[1, 2, 3, 4, 5]

In [128]:
seq[:3]

[1, 2, 3]

In [129]:
seq[-4]

7

In [130]:
seq[::-1] # reverse the list

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [134]:
seq=list(range(0,10))
seq

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [135]:
seq[-6]

4

In [136]:
seq[-2]

8

In [137]:
seq[-6:-2]

[4, 5, 6, 7]

In [138]:
seq[::2]

[0, 2, 4, 6, 8]

In [140]:
#built-in Sequence functions 


#mapping 
#enumerate : its common to use when iterating over a sequence and you want to keep track of index. It return a sequence of
#(i,value) tuples: 

ls= ['foo','bar','baz']
mapping={}
for i, v in enumerate(ls): 
    mapping[v]=i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [141]:
type(mapping)

dict

In [146]:
#sorted 

print(sorted('horserace'))

print(sorted([0,3,4,5,2,3]))

['a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']
[0, 2, 3, 3, 4, 5]

In [151]:
#zip Created tuples. 
#pair up the elements of lists, tuples or other sequences. 

seq1=['zoo','bar','flower']
seq2=['one','two','three']

zipped=zip(seq1,seq2)

list(zipped)

[('zoo', 'one'), ('bar', 'two'), ('flower', 'three')]

In [152]:
#reversed

list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [153]:
#dictionary 

empty_dict={}

d1={'a':'some value','b':[1,2,3,4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [155]:
d1[7]='an interger'

d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an interger'}

In [157]:
#check if a key exist is in dictionary 

'b' in d1

True

In [164]:
#merge one dict into another using the update method

print(d1)

d1.update({'e':[11,22,33],'f':"apple"})

print(d1)

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'apple', 'c': [11, 22, 33]}
{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'apple', 'c': [11, 22, 33], 'e': [11, 22, 33], 'f': 'apple'}